h1 {
color: #868686;
font-family: "Lato";
font-size: 45px;
float: down;
}

.a{
text-decoration: none;
color:#5C5C5C;
margin-right: 79px;
}

.a.thick {
  font-weight: bold;
}

ul{
list-style-type: none;
}


.topnav-left{
float: left;
font-weight: bold;
}

.topnav-right{
float: right;
}

.topnav{
font-family: "Lato";
padding-top: 25px;
position: fixed;
width: 100%;
top:0;
padding-bottom: 35px;
background-color: white;

}

.slogan{
padding-top: 200px;
height: 400px;
width: 100%;
padding-left: 55px;

}

.introduction{

}

.row1{
display: flex;
flex-wrap:wrap;
max-height: 70%;
}


.column1{
flex: 60%;
max-width: 60%;
background-size: cover;
height: 400ox;
}


.column1 img{
width:500px;
height: 600px;
object-fit:contain;
margin-left: 40px;
margin-top: 5px;
}



.column2{
flex: 20%;
max-width: 40%;
text-align: center;
margin-top: 160px;
padding-right: 100px;
}

#homelink{
margin-left: 89px;
font-weight: bold;
color: #F7AF39;
text-decoration-thickness: 18px;
}

#toprightimage{
flex: 40%;
max-width: 20%;
float: left;
background-size: cover;

}

#topleftcolumn{
max-width: 60%;
}

hr.rounded {

}



*{-webkit-font-smoothing: antialiased;}

#icon{
max-height: 46px;
max-width: 43px;
position: absolute;
top: 14px; left: 35px;
}

#video1{
position: static;

}

#slogan2{
color: #878484;
font-size: 18px;
}

#video2{
margin-right: 100px;
object-fit: contain;
}

button{
text-decoration: none;
background-color: #F7AF39;
color: white;
padding: 10px;
margin-right: 70px;
border: 0px ;
outline: 0px;
border-radius:4px;
}

#b{
text-decoration: none;
background-color: #F7AF39;
color: white;
}

#paragraph1{
color: #868686;
font-family: "Lato";
font-size: 20px;
padding: 10px;
text-align: justify;
margin-left: 82px;
}

#title1{
font-size: 36px
}

#video3{
margin-left: 900px;

}

.col{

}







