<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Tittle</title>
    <link rel="stylesheet" type = "text/css" href = " ./static/home.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">-->

<!--&lt;!&ndash; Latest compiled and minified JavaScript &ndash;&gt;-->
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>-->
</head>

<body>
<div class ="topnav">

<!--       <a href="{{url_for('pv')}}" >PICOVOICE</a>-->
<!--       <a href="{{url_for('pv')}}" >HOME </a>-->
<!--       <a href="{{url_for('pv')}}" >DOWNLOAD</a>-->
    <div class = "topnav-left">
        <h8>
            <a id = "homelink"  href="{{url_for('home_page')}}" >SLIDECONTROLLER</a>
        </h8>
    </div>
    <div class="topnav-right">
         <a href="{{url_for('pv')}}" >INSTRUCTION</a>
         <a href="{{url_for('dw')}}" >DOWNLOAD</a>
    </div>

</div>
<div class = "row1">
 <div class = "column1" id = "topleftcolumn">
<div class = "slogan">
<h1>
    YOUR BEST
</h1>
<h1>
    PUBLIC SPEAKING PARTNER
     <hr class="rounded">
</h1>
</div>
</div>
    <div class = "column1" id = "toprightimage">
        <div class = "slogan">
            </div>
    </div>
</div>

<div class = "introduction">
<!--    Tittle-->
</div>

<div class = "row1">

    <div class = "column1">
       <img src = "./static/voice.jpeg" class= "img1">
</div>
    <div class = "column2">
        <h1>
            Why Choose Us
        </h1>
        <p>
            faster,
        </p>
</div>

</div>
</body>
</html>
