<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" type = "text/css" href = " ./static/home.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
</head>

<body>
<div class ="topnav">

    <div class = "topnav-left">
        <h8>
            <a id = "homelink"  href="{{url_for('home_page')}}" >SLIDECONTROLLER</a>
        </h8>
    </div>
    <div class="topnav-right">
         <a href="{{url_for('pv')}}" >INSTRUCTION</a>
         <a href="{{url_for('dw')}}" >DOWNLOAD</a>
    </div>

</div>
<img src = "./static/tkapp.png" id = "img2">
</body>
</html>